export SECRET_KEY="course-key"
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export DB_USER=user
export DB_PASSWORD=password
export DB_HOST=localhost
# // export DB_NAME=
export DB_PORT=5432
export DB_ENGINE=django.db.backends.sqlite3
export RECAPTCHA_PUBLIC_KEY='6LeOYWMpAAAAAJUQm8q_HYyI5vY8DEX1xfkFAKsf'
export RECAPTCHA_PRIVATE_KEY='6LeOYWMpAAAAALAarkkCrgMoqRYpDKp_qSFzV9x_'
export SUPPORT_EMAIL=walshejohnnyw7@gmail.com
export DONOT_REPLY_EMAIL=johnwalshe@camerainspectionservices.ie
export EMAIL_PASSWORD='fuag bxgs rxss lpgu'
export EMAIL_HOST=smtp.gmail.com
export EMAIL_PORT=587
export EMAIL_USE_TLS=1
export EMAIL_DISPLAY_NAME='John_Walshe'
export STRIPE_PUBLISHABLE='pk_live_51Of16vD1UHgIZx0C53OaWktmCX3QxNHSRrxEaf2YfzwO8oSeM6ErcYBVerJVUuVHfkzaIUwLZy8ThodILIbNs0Eh00xX6lnfCc'
export STRIPE_SECRET='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'
export DOCKER_CONTAINER_EMAIL=walshejohnnyw7@gmail.com
export DOCKER_CONTAINER_PASSWORD='fhsv soep rfhq utwm'
export CELERY_BROKER=redis://redis:6379
export CELERY_BACKEND=django-db